<center>
	<form method="post" action="/pointToJ1">
    	<button type="submit">J1</button>
	</form>
	<form method="post" action="/pointToJ2">
    	<button type="submit">J2</button>
	</form><br><br>
    <h2><%= @mensaje %></h2>
<center>